.backroundColor{
    background-color:  #c7df8f; /* For browsers that do not support gradients */
    background-image: linear-gradient( #c7df8f, white);  
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
  }

  .arabicText{
      position: absolute;
      color: beige;
      text-indent: 1pc;
  }
.topImage{
    position: relative;
}

.bottomP{
    position: absolute;
    color: green;
    margin-top: 20pc;
    font-size: 3pc;
    font-weight: 900;
}
