.backroundColor{
  background-color:  white; /* For browsers that do not support gradients */
  background-image: white; 
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}


.mainFooter{
  position: fixed;
  bottom: 0;
  width: 100%;
}
.home-buttons{
  margin: auto;
  width: 50%;
  margin-top: 1pc;
}

.mainButton{
  text-decoration: none;
  margin-right: 4pc;
  color: beige;
  background-color: green;
  font-family: 'Chicle', cursive;
  font-weight: 500;
  border-radius: 8px;
}

.mainButton__text,
.button__icon{
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  color: #fff;
  font-weight: 900;
  text-decoration: none;
  background-color: darkgreen;
  border-radius: 8px;
  height: 30px;
  margin: 5px;
}



@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 3px beige;
  }
}


.social-button
{
  cursor: pointer;
  text-decoration: none;
  border: none;
  margin-right: 1pc;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  width: 4pc;
  height: 4pc;
  animation: shadow-pulse 2s infinite;
}

.iconSpace{
  margin-right: 5px;
}


.welcomeSection{
  margin-top: 7pc;
}

.Text{
  position: absolute;
  color: white;
  text-indent: 1pc;
  font-size: 46px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-left: 9pc;
  margin-top: 25pc;  
}


