.backroundColor{
  background-color:  #c7df8f; /* For browsers that do not support gradients */
  background-image: linear-gradient( #c7df8f, white);  
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}


.mainFooter{
  position: fixed;
  bottom: 0;
  width: 100%;
}