.backroundColor{
  background-color:  #c7df8f; /* For browsers that do not support gradients */
  background-image: linear-gradient( #c7df8f, white);  
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}


.mainFooter{
  position: fixed;
  bottom: 0;
  width: 100%;
}

.dog{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  opacity: 0;
}

.cloud{
  height: 125px;
  width: 186px;
  background-color: #5b5243;
  position: absolute;
  clip-path: circle(59.3% at 50% 100%);
  border: solid 3px #000;
  border-radius: 50%;
  margin-top: -6pc;
}


.cloud2{
  height: 125px;
  width: 175px;
  background-color: #5b5243;
  border-radius: 50%;
  position: absolute;
  margin-left: 10pc;
  margin-top: -6.5pc;
  clip-path: circle(78.6% at 50% 100%);
  border: solid 3px #000;
  border-radius: 50%;
}

.cloud3{
  height: 125px;
  width: 250px;
  background-color: #5b5243;
  position: absolute;
  clip-path: circle(78.8% at 37% 100%); 
  border: solid 3px #000;
  border-radius: 50%;
  border-top: none;
  border-left: none;
  margin-top: -4pc;
  margin-left: 9pc;

}

.cloud4{
  height: 130px;
  width: 200px;
  background-color: #5b5243;
  position: absolute;
  clip-path: circle(78.8% at 37% 100%); 
  border: solid 3px #000;
  border-radius: 50%;
  border-left: none;
  margin-left: 23pc;
  margin-top: -4.5pc;

}

.cloud5{
  height: 100px;
  width: 140px;
  background-color: #5b5243;
  position: absolute;
  clip-path: circle(78.8% at 37% 100%); 
  border: solid 3px #000;
  border-radius: 50%;
  border-left: none;
  border-top:none ;
  margin-left: 33pc;
  margin-top: -2pc;
}


.cloud6{
  height: 100px;
  width: 180px;
  background-color: #5b5243;
  position: absolute;
  clip-path: circle(78.8% at 37% 100%); 
  border: solid 3px #000;
  border-radius: 50%;
  border-left: none;
  border-right: none;
  border-top:none ;
  margin-left: 40pc;
  margin-top: -2pc;
}


.cloud7{
  height: 100px;
  width: 200px;
  background-color: #5b5243;
  position: absolute;
  clip-path: circle(78.8% at 37% 100%); 
  border: solid 3px #000;
  border-radius: 50%;
  border-left: none;
  border-top:none ;
  margin-left: 49.6pc;
  margin-top: -2.5pc;
}

