body{
    background-color:white;

}
.mainTitleName{
    color:#1f232c ;
    font-size: 25px;
    color: #83746e;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    width: 400px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.subTitle{
    color:#1f232c ;
    font-size: 25px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.helloQuickLinks{
    color:  #000000;
}

.description{
    color:#1f232c ;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 10pc;
}

.wrapperDescription{
    text-align: center;
    width: 400px; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}



.mainskills{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;

}
.links{
    text-align: center;
    font-size: 25px;


}
.subTitles{
    color: #dfd6d1;
}

.button{
    border: none;
    background-color: inherit;
    padding: 14px;
    color:#1f232c ;
    font-size: x-large;
    font-family: 'Cairo', sans-serif;
    cursor: pointer;
    display: inline-block;
    
  }
.button:hover {
    background: #83746e;
}


html{
    scroll-behavior: smooth;
}

.project1{
    text-align: left;
    margin-left: 4pc;
    border: 1px solid black;
    width: 500px;
    height: 300px;
    box-shadow: 5px 7px  #1f232c ;
}
.project1Title{
    font-family: 'Cairo', sans-serif;
    text-align: center;
}

#container{
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: space-between; /* switched from default (flex-start, see below) */
}

#contianer > .project1{
    width: 100px;
    height: 100px;
}


#HiSection{
    height:100px;
}



#bonjourSection{
    height:300px;

}

.buttonStyle{
    text-decoration: none;
    color: #000000;
}
.linksBottom{
    text-decoration: none;
    color: #1f232c;
    margin: 2pc;
}

.console {
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  }

  .typewriter  {
    overflow: hidden; 
    border-right: .15em solid green; 
    white-space: nowrap; 
    margin: 0 ; 
    letter-spacing: .10em; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: green; }
  }

  .squareContainer{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    width: 45vw;
    height: 45vh;
    align-items: center;
    border: 2px solid black;
  }
  .grid-1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
  }

  .grid-2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 1;

  }
  
  .grid-3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;

  }
  
  .grid-4 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 2;

  }
  

