body{
    background-color:#83746e
}

.titleRight{
    float: right;
}
.mainTitleName{
    color:#1f232c ;
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
}
.mainTitleDesc{
    color:hsl(222, 17%, 15%) ;
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
}

.mainskills{
    color:hsl(222, 17%, 15%) ;
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
}